<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <style>
    .imagebody {
      background-image: url(../img/fondo1.png);
      background-size: 120% 100%;
      background-repeat: no-repeat;
    }


  </style>
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="../lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="../cordova.js"></script>

  <!-- your app's js -->
  <script src="../lib/ionic-ratings/dist/ionic-ratings.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAL0nekaSIkOBVcwmULBgI4gBqABRmkltY&sensor=true"></script>
  <script src="../lib/ionic-rating/ionic-rating.min.js"></script>
</head>
<body ng-app="starter" ng-controller="Redirect">

<ion-pane>
  <ion-header-bar class="bar bar-header bar-dark bar-stable">
    <h1 class="title" style="text-align: center">#baniosTuristico</h1>
  </ion-header-bar>


  <ion-content class="imagebody" >
    <center>

    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33">
        <img ng-src="../img/iglesiaGray.svg" width="100s%" ng-click="ciudadesRedirect()"/>
        <div class="labelDivs">
          <ion-label style="color: white">&nbsp&nbsp&nbspCiudad</ion-label>
        </div>
      </div>
      <div class="col col-33"></div>
    </div>

    <div class="row">
      <div class="col col-33">
        <img ng-src="../img/locationGray.svg" width="100s%" ng-click="mapsRedirect()"/>
        <ion-label style="color: white">&nbsp&nbspMapa</ion-label>
      </div>
      <div class="col col-33"></div>
      <div class="col col-33">
        <img ng-src="../img/hotelGray.svg" width="100s%" ng-click="hotelRedirect()"/>
        <ion-label style="color: white">&nbspHoteles</ion-label>
      </div>
    </div>

    <div class="row">
      <div class="col col-33">
        <img ng-src="../img/restaurantGray.svg" width="100s%" ng-click="restaurantRedirect()"/>
        <ion-label style="color: white">&nbspRestaurantes</ion-label>
      </div>
      <div class="col col-33"></div>
      <div class="col col-33">
        <img ng-src="../img/mapaGray.svg" width="100s%" ng-click="guidesRedirect()"/>
        <ion-label style="color: white">Agencias</ion-label>
      </div>
    </div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-33">
        <img ng-src="../img/fuegoGray.svg" width="100s%" ng-click="activitiesRedirect()"/>
        <ion-label style="color: white">Actividades</ion-label>
      </div>
      <div class="col col-10"></div>
      <div class="col col-33">
        <img ng-src="../img/twitterGray.svg" width="100s%" ng-click="hashtagRedirect()"/>
        <ion-label style="color: white">HashTag</ion-label>
      </div>
    </div>

    </center>
  </ion-content>

</ion-pane>


</body>


</html>
